
html{
    margin:20px;
    font-family: sans-serif;
    overflow-x: hidden;
}

@media screen and (min-width: 200px){

    .page-wrapper {
        display: flex;
        flex-direction: column;

    }

    .hidden-on-desktop {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .hidden-on-desktop a {
        text-decoration: none;
        background-color: rgb(214, 254, 254);
        padding: 10px 100px;
        border: 2px solid lightgrey;
        color: black;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 50px;
        margin: 10px;
        display: flex;
        justify-content: center;
    }

    nav {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        padding: 15px 0;
        margin: 10px 0;
        background-color: lightgray;
        color: black;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    img {
        width: 100%;
        padding: 0;
    }

    footer {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
    .icons {
        width: 24px;
        height: 24px;
    }

}
@media screen and (min-width: 992px){

    .hidden-on-desktop{
        display: none;
        width: 75px;
    }

    .page-wrapper {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    h1 {
        margin: 10px;
        display: inline-block;
        max-width: 300px;

    }

    nav {
        display: inline-block;
        max-width: 300px;
        float: right;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }

    li {
        background-color: white;
    }
    img {
        margin: 10px;
        padding: 0;
    }
    section{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    .main {
        display: inline-block;
        width: 65%;
        margin: 15px 0;
        height: 100%;
        top: 0;
        margin-bottom: 50em;

    }
    h2{
        margin: 0;
    }
    .sub-section{
        display: inline-block;
        width: 25%;
        margin-top: 20px;
        height: 100%;
        float: right;
        font-style: italic;
    }

    footer {
        display: flex;
        justify-content: space-between;


    }
    .icons {
        width: 48px;
        height: 48px;
    }
}


